html {
  box-sizing: border-box;
  font-family: "helvetica neue";
  font-size: 1.2em;
  font-weight: 200;
}

body {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#logo {
  width: 85px;
  height: 54px;
}

.hero-carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.carousel-container {
  display: flex;
  width: 600%;
  height: 100%;
  transition: transform 0.5s ease;
}

.carousel-item {
  flex: 0 0 16.66%;
  width: 100%;
  height: 100%;
  position: relative; /* Added to position the caption */
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.carousel-item.active {
  opacity: 1;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-caption {
  position: absolute;
  bottom: 80px;
  left: 50%;
  right: 0;
  padding: 2rem;
  text-align: center;
  transform: translateX(-50%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.carousel-caption h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.carousel-caption p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

p strong {
  font-weight: bold;
}

.carousel-caption #info {
  padding: 15px;
  background-color: tomato;
  border: 1px solid tomato;
  color: white;
}

.carousel-controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
}

.carousel-controls button {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  color: #333;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.carousel-controls button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.carousel-indicators {
  position: absolute;
  bottom: 20px;
  left: 35%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center; /* Center the indicators horizontally */
}

.carousel-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 5px;
  cursor: pointer;
}

.carousel-indicator.active {
  background-color: white;
}

h1 {
  margin-top: 0;
}

img {
  width: 60%;
}

.site-wrap {
  max-width: 900px;
  margin: 60px auto;
  background: white;
  padding: 40px;
  text-align: justify;
  z-index: 1; /* Ensure the site content is below the carousel */
}

.site-wrap h1 {
  line-height: 1.5;
}

.align-left {
  float: left;
  margin-right: 20px;
}

.align-right {
  float: right;
  margin-left: 20px;
}

.slide-in {
  opacity: 0;
  transition: all 0.5s;
}
.align-left.slide-in {
  transform: translateX(-30%) scale(0.95);
}
.align-right.slide-in {
  transform: translateY(30%) scale(1);
}
.slide-in.active {
  opacity: 1;
  transform: translateX(0%) scale(1);
}

/* ABOUT US*/
.about-us {
  padding: 80px 0;
  background-color: #f8f8f8;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.about-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.column {
  padding: 20px;
  border-radius: 10px;
  color: #333; /* Adjust text color as needed */
}

h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
}

.column p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.infographic-maps {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.map-container {
  flex-basis: 30%;
  text-align: center;
  cursor: pointer;
  transition: flex-basis 0.3s ease;
  border-radius: 10px;
  overflow: hidden;
}

.map-container img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.map-container h3 {
  font-size: 20px;
  font-weight: 600;
  transition: font-size 0.3s ease;
}

.map-container.expanded {
  flex-basis: 70%;
}

.map-container.expanded img {
  transform: scale(1.2);
}

.map-container.expanded h3 {
  font-size: 24px;
}

@media only screen and (max-width: 767px) {
  .hero-carousel {
    height: auto;
  }

  .carousel-container {
    width: 100%;
    height: auto;
    flex-direction: column;
  }

  .carousel-item {
    flex: 0 0 100%;
    height: auto;
  }

  .carousel-item img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .carousel-caption {
    position: static;
    transform: none;
    background-color: rgba(244, 240, 5, 0.8);
    padding: 1.5rem;
  }

  .carousel-caption h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    text-align: center;
    color: #0f0829;
  }

  .carousel-caption p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: #0f0829;
  }

  .carousel-caption #info {
    padding: 10px;
  }

  .carousel-controls {
    position: static;
    transform: none;
    margin-top: 1rem;
    justify-content: center;
  }

  .carousel-controls button {
    font-size: 1.2rem;
    padding: 0.3rem 0.7rem;
  }

  .carousel-indicators {
    position: static;
    transform: none;
    margin-top: 1rem;
  }

  .carousel-indicator {
    width: 8px;
    height: 8px;
    margin: 0 3px;
  }
  .site-wrap {
    padding: 20px;
    margin: 30px auto;
  }

  .site-wrap h1 {
    font-size: 1.8rem;
    text-align: center;
  }

  .align-left,
  .align-right {
    float: none;
    margin: 0 0 20px 0;
    width: 100%;
  }

  .align-left.slide-in,
  .align-right.slide-in {
    transform: translateX(0) translateY(30%) scale(0.95);
  }

  .slide-in.active {
    transform: translateX(0) translateY(0) scale(1);
  }
}
